<!DOCTYPE html>
<html>
    <head>
       <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    </head>
    <body ng-app='AtmApp'>
    <div class="main">
      <div class="container">

         <form ng-controller='AccController' >
        <input ng-model="userAmount" placeholder="Enter Amount Here"></input><button ng-click="withdraw(transactions);">Withdraw</button><button ng-click='deposit();'>Deposit</button>     
        <div>Starting Account Balance: {{account}}</div>
        <div ng-repeat='transactions in transactions track by $index' >
            <div>Type: {{transactions.type}}</div>
             <div>Date: {{transactions.date | date:'medium' }}</div>
              <div>Amount: {{transactions.amount}}</div>
               <div>Balance: {{transactions.balance}}</div>
        </div>
        <button ng-click='hi();'>hello</button>
      </form>
    </div>
    </div>
    </body>
   <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/AccController.js"></script>

    <!-- Services -->
    <script src="js/services/transactions.js"></script>
        
</html>